<div class="remote-page">
  <h1>remifi</h1>
  
  <p class="info">Open the following address on your mobile device</p>
  <br/>
  <ul id="addresses">
    <% if (addresses) { %>
      <% if (addresses.length != 0) { %>
        <% for(var i=0 ; i < addresses.length ; i++) { %>
          <li><%= addresses[i] %></li>
        <% } %>
      <% } else { %>
        <li>Sorry, we couldn<%= "'" %>t find your computer<%= "'" %>s address.</li>
      <% } %>
    <% } else { %>
      <li id="finding-addresses">Finding IP addresses <img src="/static/images/loading.gif"/></li>
    <% } %>
  </ul>
  <br/>
  <p class="info">If that doesn't work find your IP address (<a href="http://www.remifi.com/find-my-ip.html" target="_blank">instructions</a>), for example http://192.168.1.100:<%= port %></p>
  
  <p><a id="show-details" href="#">Install Details</a></p>
  
  <ul id="details" style="display:none;">
    <li>Folder: <%= installPath %></li>
  </ul>
  
</div>

<script type="text/javascript" src="/getting-started/index.js"></script>
