<h2>Visit</h2>

<form method="GET" action="/bookmarklets/visit.html">
  <ul class="edit">
    <li>
<textarea class="bookmarklet"><%= viewJS %></textarea>
    </li>
  </ul>
</form>

<h2>New Tab</h2>

<form method="GET" action="/bookmarklets/new-tab.html">
  <ul class="edit">
    <li>
<textarea class="bookmarklet"><%= newTab %></textarea>
    </li>
  </ul>
</form>

<h2>New Window</h2>

<form method="GET" action="/bookmarklets/new-window.html">
  <ul class="edit">
    <li>
<textarea class="bookmarklet"><%= newWindow %></textarea>
    </li>
  </ul>
</form>
