<table <% if (tableId) { %>id="<%= escape(tableId) %>" <% } %>class="app-icons<% if (tableClass) { %> <%= escape(tableClass) %><% } %>">
  <% for(var i=0 ; i < rows.length ; i++) { var row = rows[i]; %>
    <tr class="icons">
      <% for(var j=0 ; j < row.length ; j++) { var item = row[j]; %>
        <td>
          <% if (!item.isBlank) { %>
          <a href="<%= escape(item.url) %>"<% if (item.mobile) { %> target="_blank"<% } %>><% if (item.icon) { %><img width="<%= escape(item.icon.width) %>" height="<%= escape(item.icon.height) %>" src="<%= escape(item.icon.url) %>"/><% } %></a>
          <% } %>
        </td>
      <% } %>
    </tr>
    <tr class="titles">
      <% for(var j=0 ; j < row.length ; j++) { var item = row[j]; %>
        <td>
          <% if (!item.isBlank) { %>
          <a href="<%= escape(item.url) %>"><%= escapeHTML(item.title) %></a>
          <% } %>
        </td>
      <% } %>
    </tr>
  <% } %>
</table>
