<!DOCTYPE html>
<html>
  <head>
    <title>remifi.com</title>
    
    <meta name="websocket-port" content="<%= websocketPort %>"/>
    
    <link href="<%= urlFor("/static/jqtouch/themes/css/apple.css") %>" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= urlFor("/static/application.css") %>" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="<%= urlFor("/static/jqtouch/src/lib/zepto.min.js") %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= urlFor("/static/jqtouch/src/jqtouch.js") %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= urlFor("/static/application.js") %>" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <div id="jqt">
<%= body %>
      
      <div id="error">
        <%= views.toolbar() %>
        
        <p class="error-message"></p>
      </div>
      
      <div id="search">
        <%= views.toolbar({back: true}) %>
        <br/>
        <form method="GET" action="/controls/search.html">
          <ul class="edit">
            <li>
              <input type="search" placeholder="Google Search" name="q">
            </li>
          </ul>
          <br/>
          <a style="" href="#" class="submit whiteButton">Google Search</a>
        </form>
        <br/>
        <form method="GET" action="/controls/visit.html">
          <ul class="edit">
            <li>
              <input type="url" placeholder="URL Address" name="url">
            </li>
          </ul>
          <br/>
          <a style="" href="#" class="submit whiteButton">Visit URL</a>
        </form>
        
      </div>
      
    </div>
  </body>
</html>
