<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Remote</title>
    
    <link rel="apple-touch-icon-precomposed" href="/static/jqtouch/images/jqtouch.png"/>
    <link rel="apple-touch-startup-image" href="/static/jqtouch/images/jqt_startup.png"/>
    
    <style type="text/css" media="screen">@import "/static/jqtouch/themes/css/jqtouch.css";</style>
    <link href="/static/application.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="/static/jqtouch/src/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/jqtouch/src/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <div id="jqt">
<%= body %>
      
      <div id="ajax_error">
        <%= views.toolbar() %>
        
        <p id="error-message"></p>
      </div>
      
      <div id="url">
        <%= views.toolbar({back: true}) %>
        <br/>
        <br/>
        <form method="GET" action="/controls/visit.html">
          <ul class="edit">
            <li>
              <input type="url" placeholder="URL Address" name="url">
            </li>
          </ul>
          <br/>
          <br/>
          <a style="" href="#" class="submit grayButton">Visit URL</a>
        </form>
        
      </div>
      
      <div id="search">
        <%= views.toolbar({back: true}) %>
        <br/>
        <br/>
        <form method="GET" action="/controls/google.html">
          <ul class="edit">
            <li>
              <input type="search" placeholder="Google Search" name="q">
            </li>
          </ul>
          <br/>
          <br/>
          <a style="" href="#" class="submit grayButton">Google Search</a>
        </form>
      </div>
      
    </div>
  </body>
</html>
