<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Remote</title>
    
    <link rel="apple-touch-icon-precomposed" href="/static/jqtouch/images/jqtouch.png"/>
    <link rel="apple-touch-startup-image" href="/static/jqtouch/images/jqt_startup.png"/>
    
    <style type="text/css" media="screen">@import "/static/jqtouch/themes/css/jqtouch.css";</style>
    <link href="/static/application.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="/static/jqtouch/src/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/jqtouch/src/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <div id="jqt">
<%= body %>
      <div id="ajax_error">
        <div class="toolbar">
          <h1>Error</h1>
          <a class="button" href="/home.html">home</a>
        </div>
        
        <p id="error-message"></p>
      </div>
      <div id="nav">
        <div class="toolbar">
          <h1>Nav</h1>
          <a class="button leftButton" href="#nav">nav</a>
          <a class="button" href="/home.html">home</a>
        </div>
        
        <form method="GET" action="/controls/visit.html">
          <ul class="edit">
            <li>
              <input type="url" placeholder="Web Address" name="url">
            </li>
          </ul>
        </form>
        
        <form method="GET" action="/controls/google.html">
          <ul class="edit">
            <li>
              <input type="search" placeholder="Google Search" name="q">
            </li>
          </ul>
        </form>
        
        <table class="app-icons system-app-icons">
          <tbody>
            <tr class="icons">
              <td>
                <a href="/controls/back.html?url=%2F">
                  <img width="60" height="60" src="/static/images/bhg.png">
                </a>
              </td>
              <td>
                <a href="/controls/home.html?url=%2F">
                  <img width="60" height="60" src="/static/images/bhg.png">
                </a>
              </td>
              <td>
                <a href="/controls/refresh.html?url=%2F">
                  <img width="60" height="60" src="/static/images/bhg.png">
                </a>
              </td>
              <td>
                <a href="/controls/forward.html?url=%2F">
                  <img width="60" height="60" src="/static/images/bhg.png">
                </a>
              </td>
            </tr>
            <tr class="titles">
              <td>
                <a href="/controls/back.html?url=%2F">back</a>
              </td>
              <td>
                <a href="/controls/home.html?url=%2F">home</a>
              </td>
              <td>
                <a href="/controls/refresh.html?url=%2F">refresh</a>
              </td>
              <td>
                <a href="/controls/forward.html?url=%2F">forward</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
