<ul class="list<% if (rounded) { %> rounded<% } %><% if (!nowrap) { %> wrap<% } %>">
  <% for(var i=0 ; i < items.length ; i++) { var item = items[i]; %>
  <li>
    <% if (MobileRemote.externalURL(item.url)) { %>
      <a href="#" data-remote-url="<%= escape(item.url) %>" class="title <% if (item.active) { %>current<% } %>">
      <%= escapeHTML(item.title) %>
      <% if (item.image) { %><br/><img src="<%= escape(item.image) %>" class="thumb"<% if (item.imageWidth) { %> width="<%= item.imageWidth %>"<% } %><% if (item.imageHeight) { %> height="<%= item.imageHeight %>"<% } %>/><% } %>
      <% if (item.subtitle) { %><br/><% if (!item.image) { %><br/><% } %><span class="subtitle"><%= escapeHTML(item.subtitle) %></span><% } %>
      </a> 
    <% } else { %>
      <a href="<%= escape(item.url) %>" class="title <% if (item.active) { %>current<% } %>">
        <%= escapeHTML(item.title) %>
        <% if (item.image) { %><br/><img src="<%= escape(item.image) %>" class="thumb"<% if (item.imageWidth) { %> width="<%= item.imageWidth %>"<% } %><% if (item.imageHeight) { %> height="<%= item.imageHeight %>"<% } %>/><% } %>
        <% if (item.subtitle) { %><br/><% if (!item.image) { %><br/><% } %><span class="subtitle"><%= escapeHTML(item.subtitle) %></span><% } %>
      </a> 
    <% } %>
    
    <% if (item.actions && item.actions.length > 0) { %>
      <ul class="actions actions-<%= item.actions.length %>" style="display:none">
        <% for (var j=0 ; j < item.actions.length ; j++) { var action = item.actions[j]; %>
        <li class="inline-links">
          <% if (MobileRemote.externalURL(action.url)) { %>
            <a href="#" data-remote-url="<%= action.url %>"><%= escapeHTML(action.title) %></a>
          <% } else { %>
            <a href="<%= escape(action.url) %>"><%= escapeHTML(action.title) %></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    <% } %>
  </li>
  <% } %>
</ul>
