<div id="mouse">
  <a href="#" class="touchpad" style="width: <%= width %>px; height: <%= height %>px;"><span>Drag your finger here <br/>Move your mouse there</span></a>
  
  <a class="whiteButton mouseClick" href="/mouse/click.js">Click</a>
  
  <div id="mouseNav">
    <div>
      <a href="/mouse/left.js" class="button icon mouseLeft"></a>
    </div>
    <div>
      <a href="/mouse/up.js" class="button icon mouseUp"></a>
      <a href="/mouse/down.js" class="button icon mouseDown"></a>
    </div>
    <div>
      <a href="/mouse/right.js" class="button icon mouseRight"></a>
    </div>
  </div>
</div>
