<div class="toolbar<% if (stop) { %> loading<% } %><% if (back) { %> system <% } %>">
  <a href="/controls/back.html?url=%2F" class="icon button backButton"></a>
  <a href="/controls/forward.html?url=%2F" class="icon button forwardButton"></a>
  <a href="/controls/refresh.html?url=%2F" class="icon button reloadButton"></a>
  <a href="/controls/stop.html?url=%2F" class="icon button stopButton"></a>
  <a href="/tabs/index.html" class="icon button tabsButton"></a>
  <a href="#search" class="icon button searchButton"></a>
  
  <a href="/home.html" class="icon button homeButton"></a>
  <a href="/" class="icon button returnButton"></a>
</div>
