table.app-icons { width: 100%; table-layout:fixed; }
table.app-icons tbody { width: 100%; }
table.app-icons tr { width: 100%; }
table.app-icons tr td { padding-top: 0; margin-top: 0; width: 25%; text-align: center;}
table.app-icons tr td a img { border: none; }
table.app-icons tr.icons td { padding-top: 1em;}
table.app-icons tr.titles { font-family: "Lucida Grande", Verdana, Courier, sans-serif; }
table.app-icons tr.titles td { padding-top: 0; overflow: hidden;}
table.app-icons tr.titles td a { text-decoration: none; color: white; font-size: 75%; }

table.system-app-icons { position: absolute; top: 352px; background-color: #2F3031; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4); border-top: 1px solid black;}

a.current { background-color: #53B401; background-image: none; box-shadow: 0 1px 0 #5CC801 inset; color: white; text-shadow: 0 -1px 0 #3C8101; }

#jqt ul.list { text-align: center; }
#jqt ul.list ul.actions { list-style: none; width: 100%; padding: 0; margin: 0; border: 0; }
#jqt ul.list ul.actions li { float: left; padding: 0; margin: 0; border: 0; text-align: center; background: none; top:50%;}
#jqt ul.list ul.actions-1 li { width: 100%;}
#jqt ul.list ul.actions-2 li { width: 50%;}
#jqt ul.list ul.actions-3 li { width: 33%;}
#jqt ul.list ul.actions-4 li { width: 25%;}
#jqt ul.list ul.actions-5 li { width: 20%;}
#jqt ul.list ul.actions li a.danger { background-color: #EE5F5B;}
#jqt ul.list .subtitle { font-size: 80%; }
#jqt ul.list .subtitle-no-image { margin-top: 5px;}
#jqt ul.list.wrap li a { overflow: inherit; white-space: inherit; }

#jqt li.paginate-container { padding: 0; }
#jqt ul.paginate { margin: 0; border: 0; background: none; }
#jqt ul.paginate li { border: 0; float: left; background: none; padding: 0.5em 0 0.5em 0; text-align: center; }
#jqt ul.paginate-1 li { width: 100%; }
#jqt ul.paginate-2 li { width: 50%; }
#jqt ul.paginate-3 li { width: 33.333%; }
#jqt ul.paginate-4 li { width: 25%; }
#jqt ul.paginate-5 li { width: 20%; }
#jqt ul.paginate-6 li { width: 16.666%; }

#jqt #home .info { margin-top: 3em; }
#jqt.fullscreen #home .info { display: none;}

.important-message  { margin: 0.5em; padding: 0.5em; color: #3A87AD; background-color: #D9EDF7;}
.error-message { margin: 0.5em; padding: 0.5em; color: #800000; background-color: #EEB4B4;}
.info-message { margin: 0.5em; padding: 0.5em; background-color: #CCC; color: #444; }

#waiting { padding-top: 2em; }
#waiting .title { font-size: 125%; font-weight: bold; }
p.wait-message { text-align: center; margin: 0.5em; padding: 0.5em; color: black; background-color: #CCC;}

#mouse .touchpad { display: block; margin: 0px auto; background-color: #CCC; text-align: center; text-decoration: none; }
#mouse .touchpad span { color: #555555; display: block; font-size: 140%; line-height: 50px; padding-top: 50px; }


#jqt .toolbar a { height: 30px; }
#jqt .icon { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-top; background-image: url("/static/images/glyphicons-halflings-white.png"); background-position: 14px 14px; background-repeat: no-repeat; *margin-right: .3em; }
#jqt .backButton { left: 6px; right: auto; background-position: -422px -64px; }
#jqt .forwardButton { left: 58px; right: auto; background-position: -448px -64px; }
#jqt .searchButton { left: 110px; right: auto; background-position: -38px 8px; }
#jqt .tabsButton { left: 162px; right: auto; background-position: -206px 8px; }
#jqt .mouseButton { left: 214px; right: auto; background-position: -158px -64px; }
#jqt .homeButton { background-position: 10px -16px; }
#jqt .returnButton { display: none; background-position: -326px -88px; }

#jqt #search .searchButton { display: none; }
#jqt #search .searchReturnButton { display: block; }
#jqt .searchReturnButton { left: 110px; right: auto; display: none; }

#jqt #tabs .tabsButton { display: none; }
#jqt #tabs .tabsReturnButton { display: block; }
#jqt .tabsReturnButton { left: 162px; right: auto; display: none; }

#jqt #mouse .mouseButton { display: none; }
#jqt #mouse .mouseReturnButton { display: block; }
#jqt .mouseReturnButton { left: 214px; right: auto; display: none; }

#jqt #home .homeButton { display: none; }
#jqt #home .homeReturnButton { display: block; }
#jqt .homeReturnButton { display: none; }

#jqt textarea.bookmarklet { height: 40px; }

#jqt .mouseClick { width: 50%; float: left; }
#jqt #mouseNav { margin-top: 5px; }
#jqt #mouseNav .button { position: inherit; right: inherit; margin-left: 10px; padding-top: 3px; padding-bottom: 3px; }

#jqt #keyboard-page textarea { height: 80px; }
#jqt #special_keys .grayButton { width: 30%; float: left; }
