<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Remote</title>
    
    <link rel="apple-touch-icon-precomposed" href="/static/jqtouch/images/jqtouch.png"/>
    <link rel="apple-touch-startup-image" href="/static/jqtouch/images/jqt_startup.png"/>
    
    <style type="text/css" media="screen">@import "/static/jqtouch/themes/css/jqtouch.css";</style>
    <script src="/static/jqtouch/src/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/jqtouch/src/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <div id="jqt">
      <div id="home">

